Django
djangorestframework
daphne
channels
channels-redis
django-cors-headers
djangorestframework-simplejwt
langchain
langchain-core
langgraph==0.2.27
langchain-ollama
langchain-chroma
langchain-community
uvicorn